.description-wrapper{
    white-space: pre-wrap;
}

.gantt .bar{
    fill: #e52165 !important;
    stroke: #3e003e !important;
}

.gantt .bar-progress{
    fill: #0056b3 !important;
}

.sidebar-menu {
    font-size: 16px;
}

.paymet-box{
    margin: 3px;
    padding: 3px;
    border: 3px solid #0d1137;
    border-radius: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-strike {
    text-decoration: line-through;
}

.profile-widget .profile-widget-picture{
    height: 100px;
}

.navbar .nav-link.nav-link-user img{
    height: 30px;
}
.profile-widget-header .avatar-item .avatar-badge{
    z-index: 1;
    bottom: -65px;
    right: 3px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: #6777ef;
}

.user-avatar.avatar.avatar-xl{
    font-size: 45px;
    height: 100px;
    width: 100px;
}

.select2-container {
    display: block !important;
    width: 100% !important;
}

.system-logos{
	max-width: 100%;
    max-height: 100%;
}

.navbar-logos{
	padding: 10px;
    width: 100%;
    height: 100%;
}

.kanban .dropdown-toggle{
    outline: none;
}
.kanban .dropdown-toggle:after{
display: none;
}
.kanban {
display: block;
/*white-space: nowrap;*/
overflow-x: auto;
}
.tasks.tasks:not(:last-child) {
margin-right: 0.25rem;
}
.tasks {
    display: inline-block;
    width: 17rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border: 1px solid #e52165;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 0.5rem;
}
.tasks .task-header {
    color: #9ca3a9;
    padding: 0.5rem;
    font-weight: bold;
}
.task-list-items {
min-height: 100px;
position: relative;
}
.task-list-items:before {
content: "No Tasks";
position: absolute;
line-height: 110px;
width: 100%;
text-align: center;
font-weight: 600;
}
.tasks .card {
white-space: normal;
margin-top: 1rem;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}
.modal-task-detailss{
    max-width: 1000px !important;
}
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none !important;
}
.est{
    margin-right: 4px;
}
.modal-task-detailss img{
    width:100%;
}
#fire-modal-1{
    position:absolute;
    overflow:scroll;
}
@media (max-width: 575.98px){
.profile-widget .profile-widget-items .profile-widget-item {
    border-top: 1px solid #f2f2f2;
    width: 50%;
    display: inline-block;
    float: left;
}
.profile-widget-items {
    display: inline !important;
}
}